*{
  margin: 0;
}
/*BASESTYLES*/
.top-section{
  width: 100%;
  height: inherit;
  overflow: auto;
}
aside {
  width: 208px;
  float: left;
  margin-left: 47px;
}
main {
  width: 528px;
  float: left;
  margin-left: 113px;
  margin-top: 20px;
}

/*top section*/
/*COLORS*/
#color-container{
  display: ;
}
#primarycolor-box{
  width: 145px;
  float: left;
  margin-left: 47px;
  margin-right: 16px;
}
#secondarycolor-box{
  width: 20%;
  float: left;
}
#blackbox {
  width:145px;
	height:100px;
  background-color: #000;
}
#whitebox{
  width:145px;
	height:100px;
  background-color: #FFF;
  outline: 1px solid #000;
}
/*ICONS*/
#icon-container{
  width: 20%;
  float: left;
}
#blankbox{
  width:150px;
	height:100px;
  background-color: #FFF;
  outline: 1px solid #000;
}
/*aside*/
/*TEXT INPUT CONTAINER*/
.text-input{
  margin-top: 37px;
}
/*LABELS*/


/*INPUTS*/
.input1{
  border: 1px solid black;
  font-style: italic;
}

.input2{
  background-color: black;
  color: white;
  font-style: italic;
}
.input3{
  border: 2px solid black;
  font-style: italic;
}
.input4{
  width: 208px;
  height: 48px;
  border: 1px dashed black;
  border-radius: 4px;
  text-decoration: line-through;
  text-indent: 18px;
}
.input5{
  font-style: italic;
}
.input6{
  width: 208px;
  height: 48px;
  font-style: italic;
  border: 3px solid black;
  border-radius: 4px;
  text-indent: 18px;
}
.input7{
  font-style: italic;
  background-color: black;
  color: white;
}
.input {
  width: 208px;
  height: 48px;
  border: 2px solid black;
  border-radius: 4px;
  text-indent: 18px;
}

/*DROPDOWN*/
.dropdown-container{
    margin-top: 37px;
}
.dropdown1{
  width: 208px;
  height: 48px;
  font-style: italic;
  border: 2px solid black;
  border-radius: 4px;
  text-indent: 18px;
}
.dropdown2{
  border: 2px solid black;
  margin-bottom: 54px;
  text-indent: 15px;
}
#option-title{
  font-style: italic;
  line-height: 30px;

}
.options-list{
  line-height: 24px;
  list-style: none;
  padding-left: 0px;
}

.black_li{
  background-color: black;
  color: white;

}

/*Fieldset*/
fieldset {
  display: inline-block;
	width: 200px;
	height: 210px;
	margin: 10px;
	padding: 30px;
	text-align: left;
	vertical-align: top;
  border: 0 none;
}
.control {
	font-size: 16px;
	position: relative;;
	display: block;
	margin-bottom: 24px;
	padding-left: 30px;
	cursor: pointer;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/*CHECKBOXES*/
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #fff;
  border: 1px solid black;
  border-radius: 2px;
}
/*RADIO-BUTTONS*/
.control--radio.control__indicator {
	border-radius: 50%;
}





/*PROGRESS-BARS*/
progress {
  /* Reset the default appearance */
 -webkit-appearance: none;
  appearance: none;
  width: 242px;
  height: 16px;
  border-radius: 1px;
}
#progress-id{
  background-color: #fff;
  width: 240px;
  height: 8px;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#progress-id[value]{
  background-color: #fff;
  width: 240px;
  height: 8px;
  border-radius: 1px;
}
progress[value]::-webkit-progress-bar {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color: black;
  width: 112px;
  height: 12px;
}
.progress-container{
  display: inline-block;
    width: 300px;
    margin-bottom: 49px;
}
.progress-container2{
  margin-top: 32px;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}

/*PRIMARY-BUTTONS*/
.primarybtn-container{
  margin-top: 90px;
}

.primary-btn{
      width: 240px;
      height: 50px;
      background-color: #000; /* Black */
      border-radius: 40px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      margin: 0px 0px 12px 0px;
      border: 2px solid #000;
}

text-decoration: underline;

/*SECONDARY-BUTTONS*/
.secondarybutton-container{
  margin-top: 75px;
}

.secondary-button {
    width: 240px;
    height: 50px;
    background-color: #FFF; /* White */
    border-radius: 40px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 0px 0px 12px 0px;
    border: 2px solid #000;
}

/*main-section*/
/*H1,2,3,4,5,6*/
#header1{
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 25px;
}
#header2{
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 31px;
}
#header3{
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 32px;
}
#header4{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 35px;
}
#header5{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 74px;
}
#header6{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 120px;
}
.pink{
  color: #F014AF;
}
/*<LARGE, PARAGRAPH, SMALL> SECTION*/
.text{
  letter-spacing: -0.2px;
  margin-bottom: 75px;
}
#large{
  font-size: 18px;
  line-height: 30px;
}
#paragraph{
  line-height: 26px;
}
#small{
  font-size: 12px;
  line-height: 21px;
}


/*TWO COLUMNS SECTION*/
.moretext-container{
  overflow: auto;
  margin-top: 58px;
  margin-bottom: 104px;
  line-height: 49px;
  height: 220px;
}
.moretext-left{
  width: 175px;
  margin-right: 63px;
  float: left;
}
.moretext-right{
  width: 175px;
  float: left;
}
.bold {
  font-weight: bold;
  font-size: 16px;
}
.underline {
  text-decoration: underline;
  font-size: 16px;
}
.italic{
  font-style: italic;
}
#strikethrough {
  text-decoration: line-through;
  font-size: 16px;
}
#bold_underline {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

.code_box {
  font-size: 16px;
  background-color: black;
  color: white;
  width: 165px;
  height: 24px;
}
#name_box {
  font-size: 16px;
  background-color: black;
  color: white;
  width: 118px;
  height: 24px;
}
/*ABOUT JUMP ROPES SECTION*/

.header_underline {
      font-size: 60px;
      border-bottom: solid 2px #000000;
      display: inline;
      padding-bottom: 3px;
}

#sub-title {
  margin-top: 31px;
  margin-bottom: 27px;
  color: #2F2F2F;
  font-size: 36px;
}
#title-description {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.2px
}

/*TWO LISTS SECTION*/
.list-container{
  overflow: auto;
  margin-top: 82px;
}
.bullet-list{
  width: 175px;
  margin-right: 63px;
  float: left;
  line-height: 28px;
}
.number-list{
  float: left;
  line-height: 28px;
}
.list-header{
  font-weight: bold;
}
/*QUOTE SECTION*/
#quote{
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  margin-top: 35px;
  text-decoration: none;
}
/*TABLE*/
table{
  margin-top: 100px;
  width: 608px;
  height: 256px;
  border-collapse: collapse;
  text-align: left;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 7px;
}
th{
  background-color: black;
  color: white;
}
/*BLACK BOX PARAGRAPH*/
#black-paragraph{
  background-color: #000;
  color: white;
  width: 590px;
  height: 386px;
  margin-bottom: 75px;
  margin-top: 100px;
}
#white-text{
  padding: 54px 46px 54px 46px;
  font-weight: normal;
  line-height: 23px;
  letter-spacing: -0.2px
}

/*NOTIFICATION BARS*/
.notification-bar{
  margin-top: 16px;
}
.bar{
   background-color: black;
   color: white;
   background-position: 10px 10px;
   background-repeat: no-repeat;
   border: 2px solid black;
   border-radius: 4px;
   width: 529px;
   height: 48px;
}
.bar::-webkit-input-placeholder {
   color: white;

}

/*SELECT BAR*/
.search-wrapper{
  margin-top: 48px;
  border: 2px solid black;
  border-radius: 4px;
}

.search-box{
  padding: 0px 0px 0px 33px;
  border: 0px solid;
  background-color: white;
   background-position: 10px 10px;
   background-repeat: no-repeat;
   width: 70%;
   height: 48px;
}
.browse-icon {
    background-color: #000; /* Black */
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 124px;
    height: 37px;
    margin: 0px 0px 0px 23px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.browse-icon:after{

}
.search-box::-webkit-input-placeholder {
   color: black;
   font-style: italic;
}
/*CODE*/
.code-container{
  background-color: #000;
  width: 100%;
  height: 300px;
  margin-top: 48px;
  border-radius: 4px;
}

#blank-code{
  color: white;
  font-size: 16px;
  font-family: helvetica;
  padding: 34px 65px 42px 11px;

}

/*CAT PICTURE*/
.cat-container {
  background-color: #000;
  color: white;
  width: 100%;
  height: 426px;
  margin-top: 46px;
  margin-bottom: 78px;
}
#cat-pic{
  width: 527px;
  height: 349px;
}
.cat-description{
  padding: 15px 24px 23px 33px;
}
