/*BASESTYLES*/
.top-section{
  width: 100%;
  height: inherit;
  overflow: auto;
}
aside {
  width: 30%;
  float: left;
}
.main-section{
  width: 65%;
  float: left;
}
.pink {
  color: #F014AF;
}
xmp {
  color: #F014AF;
}
/*top section*/
/*COLORS*/
#color-container{
  display: ;
}
#primarycolor-box{
  width: 30%;
  float: left;
}
#secondarycolor-box{
  width: 30%;
  float: left;
}
#blackbox {
  width:150px;
	height:100px;
  background-color: #000;
}
#whitebox{
  width:150px;
	height:100px;
  background-color: #FFF;
  outline: 1px solid #000;
}
/*ICONS*/
#icon-container{
  width: 30%;
  float: left;
}
#blankbox{
  width:150px;
	height:100px;
  background-color: #FFF;
  outline: 1px solid #000;
}
/*aside*/
/*INPUTS*/


/*DROPDOWN*/


/*CHECKBOXES*/


/*RADIO-BUTTONS*/


/*PROGRESS-BARS*/


/*PRIMARY-BUTTONS*/

/*SECONDARY-BUTTONS*/


/*main-section*/
